In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [96]:
ds = pd.read_csv("data.csv")

In [7]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   No                               500000 non-null  int64
 1   Property_Type                    500000 non-null  object
 2   Land_Area                        500000 non-null  int64
 3   Floor_Area                       500000 non-null  int64
 4   Condition                        500000 non-null  object
 5   View                             354981 non-null  object
 6   Amenities                        419828 non-null  object
 7   Furnishing_Status                460291 non-null  object
 8   Air_Conditioning (Yes/No)        500000 non-null  object
 9   Heating (Yes/No)                 500000 non-null  object
 10  Kitchen_Type                     460291 non-null  object
 11  Balcony (Yes/No)                 500000 non-null  object
 12  Maintenance_Fees                 500000 non-null  int64
 13  Latitude                         500000 non-null  float64
 14  Longitude                        500000 non-null  float64
 15  Location                         500000 non-null  object
 16  Num_bathrooms                    500000 non-null  int64
 17  Num_rooms                        500000 non-null  int64
 18  Price                            500000 non-null  int64
 19  distance to nearest MRT Station  500000 non-null  float64
 20  distance to nearest Hospital     500000 non-null  float64
 21  distance to nearest School       500000 non-null  float64
 22  distance to nearest Bus Stand    500000 non-null  float64
 23  distance to nearest Airport      500000 non-null  float64
 24  Crimerate in area                500000 non-null  float64
dtypes: float64(8), int64(7), object(10)
memory usage: 95.4+ MB

In [13]:
ds.columns

Index(['No', 'Property_Type', 'Land_Area', 'Floor_Area', 'Condition', 'View',
       'Amenities', 'Furnishing_Status', 'Air_Conditioning (Yes/No)',
       'Heating (Yes/No)', 'Kitchen_Type', 'Balcony (Yes/No)',
       'Maintenance_Fees', 'Latitude', 'Longitude', 'Location',
       'Num_bathrooms', 'Num_rooms', 'Price',
       'distance to nearest MRT Station', 'distance to nearest Hospital',
       'distance to nearest School', 'distance to nearest Bus Stand',
       'distance to nearest Airport', 'Crimerate in area'],
      dtype='object')

In [19]:
for column in ds.columns:
    print("----------------------")
    print(column)
    print(ds[column].unique())

----------------------
No
[     1      2      3 ... 499998 499999 500000]
----------------------
Property_Type
['Condo' 'Farmhouse' 'Apartment' 'Villa' 'Penthouse' 'Bungalow' 'Land']
----------------------
Land_Area
[ 1784  1768  2667 ... 12246 15562 18217]
----------------------
Floor_Area
[1555 1530 2667 ... 9298 8970 9093]
----------------------
Condition
['New' 'Old' 'Renovated']
----------------------
View
[nan 'City View' 'Park Facing' 'Sea Facing']
----------------------
Amenities
['Basic' 'Rooftop Access' nan 'Parking' 'Parking, Gym'
 'Garden, Swimming Pool' 'Shared Gym' 'Parking, Garden, Swimming Pool'
 'Swimming Pool, Parking, Garden' 'Parking, Gym, Swimming Pool'
 'Garden, Swimming Pool, Gym' 'Garden, Gym' 'Garden, Parking'
 'Swimming Pool, Parking' 'Gym, Garden' 'Parking, Garden'
 'Gym, Swimming Pool' 'Swimming Pool, Parking, Gym'
 'Swimming Pool, Garden, Parking' 'Swimming Pool, Gym'
 'Gym, Garden, Parking' 'Swimming Pool, Gym, Parking'
 'Gym, Swimming Pool, Garden' 'Parking, Swimming Pool, Gym'
 'Gym, Parking, Swimming Pool' 'Garden, Swimming Pool, Parking'
 'Swimming Pool, Gym, Garden' 'Gym, Parking' 'Parking, Garden, Gym'
 'Gym, Swimming Pool, Parking' 'Parking, Swimming Pool'
 'Swimming Pool, Garden, Gym' 'Garden, Gym, Parking'
 'Swimming Pool, Garden' 'Parking, Swimming Pool, Garden'
 'Gym, Parking, Garden' 'Garden, Parking, Gym'
 'Garden, Gym, Swimming Pool' 'Gym, Garden, Swimming Pool'
 'Garden, Parking, Swimming Pool' 'Parking, Gym, Garden']
----------------------
Furnishing_Status
['Fully Furnished' 'Semi Furnished' 'Unfurnished' nan]
----------------------
Air_Conditioning (Yes/No)
['No' 'Yes']
----------------------
Heating (Yes/No)
['Yes' 'No']
----------------------
Kitchen_Type
['Semi Modular' 'Normal' 'Modular' nan]
----------------------
Balcony (Yes/No)
['No' 'Yes']
----------------------
Maintenance_Fees
[ 265   98  298  423  466  106  439  264  217  308  761  232  281  297
  228  306  744  108   55  548  220  221  432   61  334  131    0  137
  151  167  263  679  460  645  399  669  244  358  478  285  210  223
  494  447  226  193  216  457  231  243  300  647  320  256  644  129
  402   72   50  363  255  176  415  519  585   53   56  481  549  956
  206  213  152  104  219  102  200  173  487  436   82  539  786  330
  375  189  646  293  431  224  982  394  392  657  335  292  719  749
  107  177  280  239  328  266  429  772  468  361  261  241  143  377
  479  310  841  362  267  381  428  547  171  196  202  465  250  356
  165  449  532  218  424  257  489  253  414  181  396  191   85  349
  454  353  318  178  407  229  225   58  238  254  608  145  387  525
  119  366  715  277  299  975  705  179  440  769  162  236  322  442
   97  180  212  430  405  130  512  388  437  249   83  451  258  128
   84  338  642   64  146  271  453  312  445  376  283  878  888  207
  524  205  291  323  117  337  270  105  321  132  531  122  750  156
  268  443  826  433  314  175  575  113  235  305  409  124   86  262
   91  477  406  211  876  567  653  233  666  332  410  784  133  139
   99  234   95  379  276  748  458  331  382  745  246  187  278  237
  227  720  222  464  754  444  708   66  184  397  163   87  288  160
  594  141  484  420  371  134  272  391  544  421  203  345  386  578
  865  354  667  452  340  204  552  148  111  275   74  248  360  448
  166  390  172  418   73  733  339  857  370  324  546  198  408  507
  355  794  461  809  326  368  755  199  986  400  350  290  192  573
  490  247  125   54  259  551  240  777  342  245  140  230  521  378
  476  252  732   60  183  488  713  351  135  333  214  364  438   92
  215   67  500  595   89  456  186  695  123  112  251  153  455  416
  847  313  501  282  473  136  555  242  781  103  374  496  403  303
   78  336  515  296  413  273  422  182  763  309   81  779  831  352
  274  729  316  485  398  383  147  527  341  419  185   52  287  656
  269  582   75  985  154   77  743  144  116  155  509  726  598  633
  475  787  472  411   63  201  522  459  687  157  558  707  605  208
  367  557  304  836  286  295  499  462  315  528  158  791  441  365
  435   88  835  425  768  622  463  279  663  538  624  467  343  209
  121  427  161  385  127  142  518  788  188  700  417  393   90  284
  597  325  195  426   71  486  329  610  450  170  529  913  588  727
  497  609  649  498  730  101  470  637  812  600  579  899  164  560
   70  109  776  150  505  301  294  797   69  389   62  658  311  630
  757   76  698  502  916  570  881  559  471  401  534  684  495  681
  796  174  530  620  842  110  628   65  159  692  983  307  474  380
  523  801  373  580  480  815  785  491  346  319  535  616  696  780
  728  571  765  404  357  492  906  168   57  674  126  818  926  984
  709  197  372  114  931  347  770  100  504  724  120   80  344  867
  631   96  957  118  584  862  614  910  991  138  673  446  723  714
  832  149  553  833  699  635  412  737   68  592  767  739  654  618
  511  289  543  907  612  434  880  469   79  799  905  627  746  541
  838  773  871  856  327  859   93  722  800  482  115  348  959  850
  792  536  660  169  919  874  734  194   51  725  606  747  589  950
  603  782  923  893  302  516  885  690  550  863  565  260  638  882
  738  665  771  790  639  819  317  493  369  887  604  632  517  711
  716  895  693  814  190  783  599  718  803  634  586  542  762  643
  774  704  697  483  682  691  668  662  395  928  685  918  629  506
  675  735  778  807  554  930  736  884  590  384  561  822  564  972
  520  759  611  680  760  958  703  659  670  537  988  927  756  951
  883  526  577  825  789  845  672  640  689  974  581  805  947  942
  938  621  840  688  741  890  922  652  676  846  766  615  848  962
  752  977  651  710  979  613  601  677  694  545  678  980  593  764
  742 1000  533  556  855  359  602  914  583  607   59  683  861  901
  860  843  971  753  830  566  936  751  967  945  563  798  701  562
  837  510  702  721  572  775  661  934  955  671  823  514  998  617
  650  655  806  758  648  933  795  513  569  508  937  626  574  968
  892  625  894  821   94  804  897  591  921  503  992  576  596  858
  870  623  981  953  706  686  898  641  993  636  587  875  920  995
  568  969  793  963  902  868  994  802  909  872  886  813  717  820
  960  904  540  932  997  900  912  973  731  952  908  664  619  917
  954  827  873  740  911  924  943  939  810  869  839  949  915  965
  853  941  844  851  996  903  966  816  824  929  889  944  896  987
  879  925  999  854  989  866  864  811  829  964  712  808  935  970
  978  946  961  891  817  849  940  877  828  990  834  948  852  976]
----------------------
Latitude
[33.637627 37.448494 25.542806 ... 39.262754 41.999587 41.955144]
----------------------
Longitude
[-112.274451 -122.821249  -80.2021   ... -104.888209  -70.75616
  -71.31292 ]
----------------------
Location
['Phoenix' 'San Francisco' 'Miami' 'Chicago' 'New York' 'Seattle'
 'Los Angeles' 'Denver' 'Houston' 'Boston']
----------------------
Num_bathrooms
[3 2 4 1 6 5 7 0]
----------------------
Num_rooms
[ 2  3  4  6  5  9  8  0  7 10]
----------------------
Price
[ 334126 1895788 4397494 ... 3475517 1616638  718263]
----------------------
distance to nearest MRT Station
[ 7.06  3.96 14.08 ...  9.18 11.13 14.58]
----------------------
distance to nearest Hospital
[11.83 14.28  0.92 ... 12.57 15.93 13.18]
----------------------
distance to nearest School
[ 3.54  1.02  4.94  7.13  7.16  1.41  4.63  7.15  4.64  2.    7.76  8.36
  1.61  7.88  6.99  6.22  9.21  4.5   7.38  8.88  7.94  8.57  3.39  0.81
  4.05  9.73  7.05  2.7   4.27  3.83  6.36  5.88  1.14  5.85  6.37  7.04
  6.77  6.54  5.24  0.8   4.21  8.45  9.76  6.64  7.49  0.51  9.63  1.49
  2.75  6.31  1.94  6.91  9.12  8.6   2.23  8.94  7.21  9.46  5.81  5.
  3.4   5.07  4.49  8.76  2.53  1.42  4.24  5.92  2.79  8.46  6.05  1.92
  8.33  2.32  7.11  1.74  6.13  2.12  1.32  9.98  6.89  6.42  1.18  7.42
  5.34  0.66  5.41  3.71  5.75  5.14  7.32  4.11  7.67  5.94  1.44  5.57
  7.39  7.86  4.2   7.91  3.77  9.74  1.11  3.55  0.58  4.58  4.86  3.01
  2.93  5.31  7.46  4.29  1.98  9.14  6.95  9.47  2.52  5.22  4.32  9.
  4.62  6.7   9.86  2.54  6.02  8.61  6.17  5.26  1.37  0.87  4.06  3.32
  3.15  9.32  9.44  7.5   2.49  4.91  3.7   3.22  2.14  1.5   4.14  2.43
  6.56  0.79  6.74  4.1   6.41  2.28  7.52  9.16  4.84  0.94  5.67  2.71
  3.79  5.21  0.85  9.78  9.38  7.08  6.85  9.26  2.72  3.58  4.67  2.08
  5.53  5.42  8.34  2.56  1.51  9.79  3.07  3.64  1.7   4.33  6.09  3.89
  4.23  3.78  7.89  0.93  4.99  2.66  4.01  2.44  8.25  4.57  8.06  2.82
  5.63  9.9   8.51  7.35  2.27  9.35  8.21  8.52  2.04  0.96  6.87  6.27
  8.69  5.66  2.92  6.29  7.51  4.82  4.15  5.56  5.06  9.97  0.69  9.67
  6.01  7.69  9.55  5.43  4.45  6.11  3.86  7.54  8.03  6.03  6.51  5.69
  7.    3.95  9.45  8.39  7.22  3.87  1.01  5.2   2.33  5.36  6.35  7.2
  7.8   3.69  9.56  1.48  2.19  2.31  6.39  1.86  8.42  6.88  0.54  0.74
  8.83  3.36  6.57  3.3   4.03  2.22  5.12  1.4   2.73  7.29  7.07  2.91
  7.99  1.47  0.6   3.98  5.37  2.26  1.9   2.96  6.46  1.22  1.91  2.9
  6.16  8.91  2.57  5.23  3.28  2.03  3.42  2.13  6.4   5.29  9.23  6.98
  3.26  8.96  2.94  4.79  0.77  8.79  0.83  1.69  1.83  2.21  3.73  1.78
  0.65  3.33  4.89  3.25  7.74  3.62  7.26  7.65  8.9   1.75  5.18  9.96
  3.97  9.43  2.55  9.42  3.92  6.94  8.02  1.15  6.76  9.88  1.45  6.19
  0.9   9.62  3.91  7.57  9.06  6.52  8.1   4.07  9.65  5.59  6.18  6.3
  2.77  8.54  7.81  7.55  8.49  2.46  7.24  4.3   1.6   7.83  7.64  4.71
  3.66  6.93  4.95  0.89  6.26  5.89  6.83  3.52  1.87  5.99  7.7   5.62
  7.19  4.18  1.43  0.82  0.91  0.52  8.23  5.83  8.62  4.87  8.05  4.73
  5.25  1.46  1.09  3.06  3.44  5.13  5.78  3.84  3.35  8.01  9.77  8.29
  2.88  6.67  2.8   0.72  7.25  9.33  0.62  4.78  9.01  4.44  4.19  4.41
  1.79  7.78  5.47  9.34  9.05  4.36  6.53  0.7   8.73  8.26  7.28  2.84
  2.2   9.18  4.4   3.81  6.86  9.22  8.47  1.29  3.96  7.48  5.7   4.93
  7.77  4.83  5.08  4.43  0.5   9.24  1.76  1.36  4.76  2.39  1.35  6.04
  3.49  3.19  9.07  4.59  1.99  5.6   3.13  4.42  4.54  3.27  8.84  3.48
  0.99  3.94  9.04  3.03  8.4   1.96  8.95  5.09  4.9   8.12  2.86  1.52
  0.78  2.25  1.73  5.82  6.84  0.67  3.57  8.87  5.87  3.14  1.39  1.81
  5.11  5.44  9.94  8.92  3.37  4.35  8.99  4.85  8.15  5.58  6.25  0.57
  4.16  1.53  9.85  8.16  3.09  4.09  6.92  3.45  5.97  3.46  1.04  7.06
  9.7   8.86  2.65  0.61  1.89  3.74  3.31  6.72  2.05  4.7   4.92  8.75
  7.97  7.27  2.47  7.3   4.17  9.66  9.72  2.51  8.81  2.16  0.55  4.47
  8.17  7.18  9.49  8.56  3.34  1.23  4.39  8.43  2.64  1.77  6.43  6.59
  1.28  1.56  3.76  1.63  9.4   5.54  7.1   8.55  4.48  7.75  7.6   6.24
  3.04  7.12  9.19  5.96  2.15  4.8   9.36  1.88  5.91  5.1   5.28  4.74
  1.55  8.72  7.66  2.85  3.23  8.37  4.26  7.4   5.73  9.37  4.37  5.51
  2.69  7.63  3.72  9.57  2.67  3.    8.85  1.24  3.05  8.07  9.81  9.84
  8.67  5.35  2.02  7.85  7.84  6.5   9.69  3.2   8.97  9.27  0.53  7.41
  9.93  1.27  6.8   1.05  9.83  8.38  7.17  8.22  9.15  5.19  8.89  4.98
  4.96  4.25  6.55  2.01  4.75  8.3   2.3   8.    1.21  8.68  5.04  5.5
  7.34  9.91  6.62  1.67  1.25  5.33  7.37  2.68  7.47  9.68  5.46  2.29
  9.5   6.58  3.8   2.58  7.82  8.98  9.11  6.48  1.97  1.08  8.28  6.23
  8.35  1.8   6.71  5.86  9.28  3.75  7.01  7.36  9.6   8.64  5.15  1.68
  2.89  2.42  1.    2.97  3.5   7.03  8.8   8.71  9.3   1.33  6.    4.38
  1.57  5.77  6.69  6.12  3.38  5.01  7.93  3.08  1.31  7.96  3.51  6.44
  3.61  0.56  9.08  4.    9.03  4.02  2.36  8.31  7.87  0.76  1.84  5.8
  4.68  7.56  5.38  1.07  1.54  3.11  7.43  2.59  1.72  8.74  5.74  2.24
  7.95  6.1   7.33  4.46  4.34  2.63  2.1   2.74  2.95  8.41  4.28  6.45
  5.39  3.9   3.93  9.02  2.37  5.84  2.09  0.71  6.63  3.24  3.99  9.87
  9.89  4.31  9.2   6.33  3.63  8.18  7.02  4.65  8.59  6.78  1.38  6.65
  9.82  8.2   2.78  2.11  0.92  6.81  6.97  0.98  5.03  4.72  6.68  5.9
  9.75  4.69  6.6   7.53  9.95  8.24  7.9   0.86  4.08  1.26  1.95  7.09
  6.32  4.04  9.39  1.62  6.49  3.02  6.75  1.58  4.88  9.54  1.06  5.48
  5.3   5.16  8.13  2.34  2.38  9.13  7.58  6.34  6.38  9.71  2.81  7.31
  0.59  8.48  8.14  4.53 10.    3.17  5.68  5.32  5.55  3.18  1.66  8.7
  6.06  5.65  9.92  2.48  8.44  1.34  6.79  3.29  3.41  4.77  3.67  8.5
  2.99  9.48  6.07  4.12  3.68  5.79  5.49  2.5   7.68  2.35  6.21  4.81
  7.61  4.61  3.1   6.82  0.95  1.3   4.22  8.58  7.14  3.47  6.15  8.32
  8.77  9.58  5.95  3.88  5.52  2.61  8.19  0.88  9.25  5.76  0.64  0.84
  8.09  1.64  9.61  8.65  5.17  3.12  8.93  7.92  2.4   3.59  9.09  9.29
  6.28  2.07  3.85  3.16  4.13  3.65  9.17  6.2   6.66  6.47  5.71  8.66
  9.31  8.63  3.82  7.62  8.11  2.62  8.27  1.82  6.14  0.73  2.18  0.68
  7.71  2.76  5.02  7.72  0.97  9.99  8.04  3.43  8.78  9.64  7.44  2.6
  2.06  9.51  9.8   2.45  1.85  9.41  2.41  2.98  5.45  5.98  3.6   6.61
  4.66  1.71  4.52  5.61  9.53  1.1   4.97  1.2   2.83  1.19  6.73  8.82
  0.75  3.56  9.59  7.73  1.03  9.52  9.1   4.51  5.05  7.79  7.59  4.6
  1.65  6.96  1.12  1.13  6.9   5.72  6.08  1.17  3.53  5.64  2.87  0.63
  2.17  1.59  7.98  8.53  5.27  4.56  5.4   7.45  3.21  7.23  4.55  1.93
  5.93  1.16  8.08]
----------------------
distance to nearest Bus Stand
[2.67 1.21 0.62 0.39 4.56 1.08 4.05 3.21 4.39 1.12 2.54 4.48 0.3  1.64
 1.17 4.04 3.86 3.49 4.62 2.16 3.48 2.72 3.43 3.67 3.39 4.38 0.49 3.61
 2.57 2.44 0.43 0.5  2.32 3.53 1.48 4.37 2.59 2.39 0.36 2.85 2.43 0.61
 2.93 4.72 1.54 2.58 3.37 0.71 1.13 1.53 4.43 1.79 2.62 2.38 2.23 3.98
 1.92 3.15 2.11 0.67 3.96 3.76 0.34 0.7  0.83 3.62 2.34 3.14 2.46 3.87
 1.3  1.01 1.34 1.99 3.68 2.15 4.69 3.73 2.88 1.73 3.91 4.53 3.54 0.75
 2.86 0.11 2.06 4.86 3.22 4.22 0.91 1.71 0.13 4.41 4.76 3.44 3.24 4.92
 3.42 1.96 4.27 3.03 2.83 0.53 2.56 0.35 3.52 0.95 0.88 3.01 3.18 2.14
 0.28 1.   2.17 2.09 4.35 3.33 2.63 0.25 1.47 3.59 2.27 2.4  3.16 3.25
 4.91 0.17 2.89 3.81 0.37 3.6  0.18 0.22 0.86 0.58 1.9  3.09 1.23 0.69
 2.21 3.45 2.37 2.25 2.84 2.98 2.08 4.4  1.58 3.7  4.8  3.3  1.31 1.41
 0.94 2.19 1.82 1.07 2.49 4.93 4.99 4.68 3.38 4.11 0.84 1.22 0.79 2.47
 3.55 2.9  0.9  3.85 1.93 3.66 0.65 3.5  2.91 4.08 0.41 0.74 4.17 1.4
 2.05 4.97 4.71 1.11 4.6  1.61 1.59 4.1  2.99 1.16 3.57 1.09 2.82 3.08
 1.25 4.19 1.29 1.75 2.02 3.74 3.75 0.81 4.7  1.76 4.09 0.46 3.41 0.64
 0.15 3.63 3.19 4.29 2.92 3.58 1.66 2.8  3.31 1.49 4.36 4.83 2.68 4.75
 2.24 0.2  1.52 4.3  1.7  2.74 4.25 3.23 3.95 1.18 2.04 1.67 1.57 2.41
 0.12 2.35 4.55 1.04 5.   1.42 3.89 4.67 0.4  4.66 3.1  1.88 2.01 2.71
 4.89 1.86 2.81 4.32 4.28 0.27 4.95 2.97 0.19 0.47 2.2  3.07 4.79 1.37
 4.49 2.96 0.57 3.9  4.12 2.53 0.38 4.52 0.21 0.77 2.07 1.46 2.75 2.48
 2.64 4.47 1.2  1.84 1.74 4.31 4.94 3.26 1.87 4.03 3.35 0.66 4.82 0.48
 3.77 3.36 1.95 0.98 0.93 1.78 3.94 0.24 4.14 4.87 4.13 1.91 0.16 3.46
 1.05 4.73 4.9  0.54 1.97 2.52 4.5  3.88 1.24 3.   3.34 0.59 4.33 0.26
 1.89 0.97 4.   2.73 1.1  1.6  3.05 3.79 2.94 4.57 1.62 0.56 1.38 4.54
 0.73 1.26 4.81 3.65 3.69 2.79 3.04 4.78 4.84 0.68 3.83 4.96 0.14 2.77
 1.39 2.65 0.72 1.8  2.12 2.55 4.85 2.5  1.28 1.44 1.35 0.85 4.74 3.06
 1.32 1.19 3.72 4.59 3.97 2.45 4.23 2.03 4.2  4.01 1.63 2.6  0.23 0.33
 4.63 3.84 0.44 3.92 0.6  4.24 1.14 3.29 0.31 1.55 2.66 4.34 1.02 1.45
 4.42 1.77 1.36 0.89 2.7  1.03 2.76 3.99 2.22 2.31 2.29 3.32 2.51 0.45
 2.69 3.12 4.16 1.85 2.36 1.83 1.65 1.98 1.27 0.1  4.88 0.52 3.11 4.98
 1.33 4.45 2.87 4.21 4.65 2.   2.13 0.42 4.15 2.78 4.58 3.27 1.68 4.46
 2.26 0.96 0.92 0.76 3.82 3.93 2.42 4.07 1.5  0.87 3.51 3.64 0.8  4.51
 3.2  3.4  3.28 2.95 0.99 0.55 2.33 4.61 4.64 1.43 4.26 1.94 4.44 4.02
 0.29 1.81 2.18 0.78 2.3  3.47 3.78 1.56 1.06 2.1  0.63 3.56 2.61 1.15
 0.51 1.51 0.82 3.8  1.69 3.71 2.28 0.32 1.72 3.02 4.06 4.18 3.13 3.17
 4.77]
----------------------
distance to nearest Airport
[45.83 21.99 11.06 ... 47.8  45.35 21.4 ]
----------------------
Crimerate in area
[ 9.9  7.7  5.3  8.9  8.2  8.1  6.4  8.5  9.5  7.9  4.1  4.5  9.2  7.3
  4.   7.4  1.2  8.7  8.3  7.6  9.4  2.9  9.   6.7  4.4  4.9  8.   7.8
  8.4  5.7  5.5  9.1  5.1  6.8  8.8  3.1  9.3  6.3  8.6 10.   3.7  5.4
  2.5  4.6  3.5  9.6  6.1  6.6  1.7  3.6  7.   2.6  7.2  6.   2.1  9.8
  5.8  7.5  5.9  3.2  5.   6.9  4.7  7.1  1.3  3.4  4.8  6.2  2.4  9.7
  3.3  4.3  2.2  1.8  6.5  3.9  5.6  4.2  2.7  3.8  3.   5.2  2.   2.8
  1.9  2.3  1.5  1.6  1.4]

In [23]:
#'View', 'Amenities', 'Furnishing_Status','Kitchen_Type'

In [98]:
ds["View"].unique()

array([nan, 'City View', 'Park Facing', 'Sea Facing'], dtype=object)

In [100]:
ds['View'].fillna('No View', inplace=True)

In [102]:
ds["Furnishing_Status"].unique()

array(['Fully Furnished', 'Semi Furnished', 'Unfurnished', nan],
      dtype=object)

In [104]:
ds[ds["Furnishing_Status"].isna()]["Property_Type"].unique()

array(['Land'], dtype=object)

In [106]:
ds['Furnishing_Status'].fillna('Not Needed', inplace=True)

In [108]:
ds["Kitchen_Type"].unique()

array(['Semi Modular', 'Normal', 'Modular', nan], dtype=object)

In [110]:
ds[ds["Kitchen_Type"].isna()]["Property_Type"].unique()

array(['Land'], dtype=object)

In [112]:
ds['Kitchen_Type'].fillna('Not Needed', inplace=True)

In [114]:
ds["Location"].unique()

array(['Phoenix', 'San Francisco', 'Miami', 'Chicago', 'New York',
       'Seattle', 'Los Angeles', 'Denver', 'Houston', 'Boston'],
      dtype=object)

In [116]:
ds["Amenities"].unique()

array(['Basic', 'Rooftop Access', nan, 'Parking', 'Parking, Gym',
       'Garden, Swimming Pool', 'Shared Gym',
       'Parking, Garden, Swimming Pool', 'Swimming Pool, Parking, Garden',
       'Parking, Gym, Swimming Pool', 'Garden, Swimming Pool, Gym',
       'Garden, Gym', 'Garden, Parking', 'Swimming Pool, Parking',
       'Gym, Garden', 'Parking, Garden', 'Gym, Swimming Pool',
       'Swimming Pool, Parking, Gym', 'Swimming Pool, Garden, Parking',
       'Swimming Pool, Gym', 'Gym, Garden, Parking',
       'Swimming Pool, Gym, Parking', 'Gym, Swimming Pool, Garden',
       'Parking, Swimming Pool, Gym', 'Gym, Parking, Swimming Pool',
       'Garden, Swimming Pool, Parking', 'Swimming Pool, Gym, Garden',
       'Gym, Parking', 'Parking, Garden, Gym',
       'Gym, Swimming Pool, Parking', 'Parking, Swimming Pool',
       'Swimming Pool, Garden, Gym', 'Garden, Gym, Parking',
       'Swimming Pool, Garden', 'Parking, Swimming Pool, Garden',
       'Gym, Parking, Garden', 'Garden, Parking, Gym',
       'Garden, Gym, Swimming Pool', 'Gym, Garden, Swimming Pool',
       'Garden, Parking, Swimming Pool', 'Parking, Gym, Garden'],
      dtype=object)

In [118]:
ds['Amenities'].fillna('', inplace=True)

In [120]:
unique_amenities = set()
ds['Amenities'].dropna().str.split(',').apply(lambda x: unique_amenities.update(item.strip() for item in x if item.strip()))
# Convert set to list if needed
unique_amenities_list = list(unique_amenities)
print(unique_amenities_list)

['Parking', 'Shared Gym', 'Garden', 'Swimming Pool', 'Rooftop Access', 'Basic', 'Gym']

In [122]:
for amenity in unique_amenities_list:
    ds[amenity] = "No"

In [124]:
# for amenity in unique_amenities_list:
#     for i in ds.index:
#         if amenity in ds.loc[i, "Amenities"]:
#             ds.loc[i, amenity] = "Yes"
for amenity in unique_amenities_list:
    ds[amenity] = ds['Amenities'].apply(lambda x: 'Yes' if amenity in x else 'No')

In [130]:
ds = ds.drop('Amenities', axis=1)

In [134]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   No                               500000 non-null  int64
 1   Property_Type                    500000 non-null  object
 2   Land_Area                        500000 non-null  int64
 3   Floor_Area                       500000 non-null  int64
 4   Condition                        500000 non-null  object
 5   View                             500000 non-null  object
 6   Furnishing_Status                500000 non-null  object
 7   Air_Conditioning (Yes/No)        500000 non-null  object
 8   Heating (Yes/No)                 500000 non-null  object
 9   Kitchen_Type                     500000 non-null  object
 10  Balcony (Yes/No)                 500000 non-null  object
 11  Maintenance_Fees                 500000 non-null  int64
 12  Latitude                         500000 non-null  float64
 13  Longitude                        500000 non-null  float64
 14  Location                         500000 non-null  object
 15  Num_bathrooms                    500000 non-null  int64
 16  Num_rooms                        500000 non-null  int64
 17  Price                            500000 non-null  int64
 18  distance to nearest MRT Station  500000 non-null  float64
 19  distance to nearest Hospital     500000 non-null  float64
 20  distance to nearest School       500000 non-null  float64
 21  distance to nearest Bus Stand    500000 non-null  float64
 22  distance to nearest Airport      500000 non-null  float64
 23  Crimerate in area                500000 non-null  float64
 24  Parking                          500000 non-null  object
 25  Shared Gym                       500000 non-null  object
 26  Garden                           500000 non-null  object
 27  Swimming Pool                    500000 non-null  object
 28  Rooftop Access                   500000 non-null  object
 29  Basic                            500000 non-null  object
 30  Gym                              500000 non-null  object
dtypes: float64(8), int64(7), object(16)
memory usage: 118.3+ MB

In [136]:
ds.to_csv("cleaned_data.csv")